@{
    foreach (var house in Model.HouseList)
    {
        string HouseImgUrl = "/" + @house.HouseImg;
        <a href="@Url.Action("Detail", "House", new {Id = house.HouseId})" class="list-card-link d-block mb-5">
            <div class="list-card">
                <div class="list-card-img" style="background-image: url('@HouseImgUrl')"></div>
                <div class="list-card-content">
                    <p class="list-card-content-title">@house.HouseName</p>
                    <p class="list-card-content-text">NT$ @house.RentPerMonth/月</p>
                    <p class="list-card-content-text">地點：@house.Location</p>
                    <p class="list-card-content-text">坪數：@house.HouseSize 坪</p>
                    <div class="d-flex">
                        @{
                            foreach (var feature in house.FeaturLabelList)
                            {
                                <span class="feature-label">@feature.LabelName</span>
                            }
                        }
                    </div>
                </div>
            </div>
        </a>
    }
    if (Model.HouseList.Count() == 0)
    {
        <h5 class="text-center fw-bold mt-5">您尚未刊登租屋資訊</h5>
    }
}